@import 'base';

$white      : #fff;
$background : #f4f4f4;
$border     : #d6d6d6;
$mingray    : #777;
$hovergray  : #555;
$body       : #333;
$link       : #0476C7;

$header-height: 44px;
$footer-height: 60px;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  color: $body;
  background: $background;
}

// ############## //
// ### LAYOUT ### //
// ############## //

html, body, #app { height: 100%; }

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; height: $header-height;
  overflow: hidden;
  background: $white;
  border-bottom: 1px solid $border;

  h1 {
    margin-top: 0;
    font-size: 22px;
    line-height: $header-height;
    float: left;
    a {
      text-decoration: none;
      color: $body;
    }
  }
}

nav {
  float: right;
  line-height: $header-height;
  font-weight: 700;
  font-size: 22px;
  span.current-section {
    position: relative;
    top: -13px;
  }
  a.disabled {
    visibility: hidden;
  }

  a.arrow {
    width: $header-height;
    height: $header-height;
    text-indent: $header-height;
    overflow: hidden;
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 0; height: 0;
      top: 14px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }

    &.prev-section:before {
      right: 4px;
      border-right: 12px solid $mingray;
    }

    &.next-section:before {
      left: 4px;
      border-left: 12px solid $mingray;
    }
  }
}

main {
  position: absolute;
  top: $header-height; bottom: $footer-height;
  left: 0; right: 0;
}

div.section-wrap {
  display: none;
  &.visible { display: block; }

  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

div.container {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 1em;
}

div.section {
  width: 100%; height: 100%;
  padding-bottom: $footer-height;
  @extend div.container;
}

p {
  max-width: 42em;
}

#controls {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%; height: $footer-height;
  background: $white;
  border-top: 1px solid $border;

  .container {
    height: 100%;
  }
}

// ################ //
// ### CONTROLS ### //
// ################ //

.year-control {
  position: absolute;
  top: 0; left: 0; right: $footer-height * 2;

   .slider-wrapper {
    position: absolute;
    top: $footer-height / 2 - 19;
    left: 132px; right: 32px;
  }

  .slider {
    -webkit-appearance:none !important;
    height: 3px;
    width: 100%;
    background: $mingray;
    border-radius: 3px;

    &::-webkit-slider-thumb {
      -webkit-appearance:none !important;
      content: "|||";
      width: 28px;
      height: 28px;
      border-radius: 28px;
      border: 2px solid $mingray;
      background: $white;

      &:hover {
        border-color: $hovergray;
      }
     }
   }

  .label {
    position: absolute;
    left: 80px;
    line-height: $footer-height - 4;
  }

  .play-button {
    position: absolute;
    top: ($footer-height - 44px) / 2 - 2;
    left: 16px;
    width: 44px;
    height: 44px;
    margin: 0 4px;
    border: 2px solid $mingray;
    border-radius: 44px;
    background: none;
    overflow: hidden;
    text-indent: 44px;
    transition: border-color 250ms ease;
    cursor: pointer;

    &:hover {
      border-color: $hovergray;
    }

    &.disabled {
      border-color: $border;
    }

    &.paused:before {
      content: "";
      display: block;
      position: absolute;
      width: 0; height: 0;
      top: 12px;
      left: 16px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid $mingray;
      transition: border-color 250ms ease;
    }

    &.paused:hover:before {
      border-left-color: $hovergray;
    }

    &.paused.disabled:before {
      border-left-color: $border;
    }

    &.playing:after {
      content: "";
      display: block;
      position: absolute;
      width: 12px; height: 14px;
      top: 13px;
      left: 14px;
      border-right: 4px solid $mingray;
      border-left: 4px solid $mingray;
      transition: border-color 250ms ease;
    }

    &.playing:hover:after {
      border-color: $hovergray;
    }
  }
}

.region-control {
  position: absolute;
  top: 0; right: 0;
  width: $footer-height * 2;
  height: 100%;
  padding-right: 1em;

  select {
    width: 100%;
    position: relative;
    top: 11px;
  }
}

#triangle {
  canvas {
    display: block;
    margin: 0 auto;
  }

  span.title {
    display: block;
    position: relative;
    top: -24px;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
  }

  #demographic-tooltip {
    width: 100%;
    padding: 0 1em;
    pointer-events: none;

    @media screen and (min-width: 560px) {
      position: absolute;
      top: 12px; left: 0;
      width: 40%;
    }

    button {
      pointer-events: auto;
    }

    .enrollment-bar {
      position: relative;

      span.label {
        width: 100px;
        display: inline-block;
      }

      span.bar-wrapper {
        position: absolute;
        display: block;
        left: 100px;
        top: 0;
        right: 0px;
        white-space: nowrap;
      }

      span.bar {
        display: inline-block;
        height: .65em;
      }

      span.value-label {
        margin-left: 3px;
      }
    }

    span.label {
      text-transform: uppercase;
      font-size: .65em;
    }

    span.value-label {
      font-weight: 700;
      font-size: .8em;
    }
  }
}

.white .bar {
  background: #7493C7;
}
.asian .bar {
  background: #ACC45D;
}
.hisp .bar {
  background: #81528B;
}
.am .bar {
  background: #B84D71;
}
.black .bar {
  background: #71AD91;
}
.tr .bar {
  background: #BC703B;
}
